name: Wind Report Render

on:
  schedule:
    # 每天北京时间 08:00, 16:00, 00:00 运行
    # 对应 UTC 时间 00:00, 08:00, 16:00
    - cron: '0 4,11,17 * * *'
  workflow_dispatch: # 方便你手动测试

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run render script
        env:
          # 格式：环境变量名: ${{ secrets.GitHub中的Secret名 }}
          API_KEY: ${{secrets.API_KEY}}
        run: python render.py

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./

          publish_branch: gh-pages




